{% extends 'base.html' %}
{% block content %}


<div class="col-md-6 offset-md-3">
    <h1>register page</h1>
    <br />


    <form method="POST" action="">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Your Forms Has errors
            {% for fields in forms %}
                {%  if fields.errors %}
                    {{ fields.errors }}
                {% endif %}
            {% endfor %}

              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        </div>

        {{ form.as_p }}
        <br />
        <button type="submit" class="btn btn-secondary">Register</button>
    </form>
</div>



{% endblock %}